
body {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    background-attachment: fixed;
}

/* 注册页面 */
.register {
    margin: 0 auto;
    width: 30%;
    padding: 30px 40px 40px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px -2px #858282;
    position: relative;
    top: 6vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.mdui-textfield.mdui-textfield-floating-label {
    padding-top: 5px;
}

.mdui-chip {
    position: relative;
    left: 2%;
}

.select_acType {
    position: relative;
    left: 14%;
    display: inline;
}

button.checkName.mdui-btn-dense.mdui-btn.mdui-btn-raised.mdui-ripple{
    height: 30px;
    position: absolute;
    left: 71.5%;
    top: 16%;
    z-index: 99;
}

.submit {
    width: 140px;
    position: relative;
    top: 2vh;
    left: 0.5vw;
}

.reset {
    width: 140px;
    position: relative;
    top: 2vh;
    left: 6.5vw;
}

.back_register {
    color: rgb(233, 125, 36);
    position: relative;
    left: -6.8vw;
    top: 2vh;
}

/* 登录页面 */
.login {
    margin: 0 auto;
    width: 30%;
    padding: 5px 40px 40px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px -2px #858282;
    position: relative;
    top: 25vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.back_login {
    color: rgb(233, 125, 36);
    position: relative;
    left: -6.8vw;
    top: 2vh;
}

.warning_text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    position: relative;
    left: 15%;
    color: rgb(240, 66, 66);
}

.warning_text2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    position: relative;
    left: 10%;
    color: rgb(240, 66, 66);
    text-align: center;
}

.warning {
    overflow: hidden;
    width: 70%;
    z-index: -10;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 3px 3px 10px -2px #858282;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 100%;
    left: 15%;
}

.warning p {
    text-align: center;
    color: rgb(240, 66, 66);
}

/* 主页 */
.index {
    margin: 0 auto;
    width: 30%;
    padding: 10px 60px 20px 60px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px -2px #858282;
    position: relative;
    top: 25vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.index p {
    text-align: center;
    font-size: 20px;
}

.index a {
    text-decoration: none;
    margin: 5px;
}

/* 业务页面 */
.business {
    margin: 0 auto;
    width: 30%;
    padding: 38px 40px 40px 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px -2px #858282;
    position: relative;
    top: 3vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

button.refresh.mdui-btn.mdui-btn-raised.mdui-ripple.mdui-btn-icon {
    position: absolute;
    left: 91%;
    top: 0.5%;
    cursor: pointer;
    z-index: 99;
}

.mdui-table-fluid.business_info {
    position: relative;
    left: 5px;
    margin-bottom: 10px;
}

.mdui-textfield.receive {
    padding-top: 0;
    padding-bottom: 0;
    width: 133px;
    float: right;
}

.select_mode {
    position: relative;
    left: 27.5%;
    display: inline;
}

.data p {
    margin: 0;
    text-align: center;
}

.property {
    margin: 0;
    display: inline;
    position: relative;
    left: 10px;
    color: rgb(240, 114, 12);
    font-weight: bold;
}

.back_business {
    color: rgb(233, 125, 36);
    position: relative;
    left: -6.8vw;
    top: 2vh;
}