<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/google.css" th:href="@{/css/google.css}">
    <link rel="stylesheet" href="../static/css/mdui.css" th:href="@{/css/mdui.css}">
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
</head>

<body class="mdui-theme-accent-orange">

<div class="mdui-container">
    <form method="POST" action="/business.html" th:action="@{/result}" th:object="${loginBean}" class="login">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">person</i>
            <label class="mdui-textfield-label">Username</label>
            <input id="userName" class="mdui-textfield-input" type="text" th:field="*{userName}"></input>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <i class="mdui-icon material-icons">vpn_key</i>
            <label class="mdui-textfield-label">Password</label>
            <input id="passWord" class="mdui-textfield-input" type="password" th:field="*{passWord}"></input>
        </div>

        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent submit" type="submit">submit
        </button>
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent reset" type="reset">reset</button>
        <a href="index.html" th:href="@{/index}" class="back_login"><i class="mdui-ripple mdui-icon material-icons ">arrow_back</i></a>
        <div th:if="${message.status==false}" class="warning">
            <p th:text="${message.info}"></p>
        </div>
    </form>
</div>

<script src="https://unpkg.com/popper.js@1" th:src="@{https://unpkg.com/popper.js@1}"></script>
<script src="https://unpkg.com/tippy.js@4" th:src="@{https://unpkg.com/tippy.js@4}"></script>
<script src="../static/js/mdui.js" th:src="@{/js/mdui.js}"></script>
<script src="../static/js/style.js" th:src="@{/js/style.js}"></script>
<script>
    //$('.submit').click(fire_ajax_submit);

    function fire_ajax_submit() {
        var loginBean = {};
        loginBean["userName"] = $('#userName').val();
        loginBean["passWord"] = $('#passWord').val();
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "/checkUserIsAllow",
            data: JSON.stringify(loginBean),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                alert(JSON.stringify(data.result));
            }
        })
    }
</script>
</body>

</html>