<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Management Page</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/google.css" th:href="@{/css/google.css}">
    <link rel="stylesheet" href="../static/css/mdui.css" th:href="@{/css/mdui.css}">
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="webjars/jquery/2.2.4/jquery.min.js"></script>
</head>

<body class="mdui-theme-accent-orange">
<div class="mdui-container">
    <div class="index">
        <p style="color: orangered; font-size: 25px;">This management page</p>
    </div>
</div>


<script src="https://unpkg.com/popper.js@1" th:src="@{https://unpkg.com/popper.js@1}"></script>
<script src="https://unpkg.com/tippy.js@4" th:src="@{https://unpkg.com/tippy.js@4}"></script>
<script src="../static/js/mdui.js" th:src="@{/js/mdui.js}"></script>
<script src="../static/js/style.js" th:src="@{/js/style.js}"></script>
</body>

</html>